<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding="" >
  <ion-grid >
    <div>
      <div text-center class="text-white">
      <h4>Sign In</h4>
      <p>Please Sign In to continue</p>
    </div>
      <ion-row>
        <ion-col>
          <ion-list>
            <form [formGroup]="user"  (ngSubmit)="signin(user.value)" >
              <div class="item-container">
              <ion-item class="px-10">
                <ion-input type="email" placeholder="Email" clearInput [(ngModel)]="user.email" name="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item no-lines class="error-msg" text-wrap *ngIf="!user.controls.email.valid  && (user.controls.email.dirty || submitAttempt)">
                <small>This field is required and should be valid email</small>
              </ion-item>

              <ion-item class="px-10">
                <ion-input type="password"  placeholder="Password" clearInput [(ngModel)]="user.password" name="password" formControlName="password"></ion-input>
              </ion-item>
              <ion-item no-lines class="error-msg" text-wrap *ngIf="!user.controls.password.valid  && (user.controls.password.dirty || submitAttempt)">
                <small>This field is required and should be valid email</small>
              </ion-item>
            </div>
              <ion-row>
                <ion-col class="px-0">
                  <button type="submit" ion-button class="btn-gift" color="light" block [disabled]="!user.valid">Sign in</button>
                  <!-- [disabled]="!user.valid" -->
                </ion-col>
              </ion-row>
            
            </form>
            <p text-center class="text-white">Forgot Password?
                <span (click)="goToFgtPass()"><b>Reset Password</b></span>
              </p>
          </ion-list>
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col text-center class="px-0">
          <button ion-button class="social-icon social-facebook" (click)="signupFacebook()">
            <!-- <ion-icon name="logo-facebook"></ion-icon> -->
            <img src="assets/imgs/fb_login.png" alt="">
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center class="text-white">

          <p>Don't have account?
            <span (click)="signUp()" ><b>Sign up now</b></span>
          </p>
          

        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>