<!--
  Generated template for the FgtPassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
    <ion-grid >
        <div>
          <div text-center class="text-white">
          <h4>Forgot Your Password?</h4>
          <p>Enter your mobile number to reset your password</p>
        </div>
          <ion-row>
            <ion-col>
              <ion-list>
                <form [formGroup]="user"  (ngSubmit)="sendCode(user.value)">
                  <div class="item-container">
                  <ion-item class="px-10">
                    <ion-input type="number" placeholder="Contact Number" clearInput [(ngModel)]="user.mobile_no" name="mobile_no" formControlName="mobile_no"></ion-input>
                  </ion-item>
                  <ion-item no-lines class="error-msg" text-wrap *ngIf="!user.controls.mobile_no.valid  && (user.controls.mobile_no.dirty || submitAttempt)">
                    <small>This field is required and should be valid mobile number</small>
                  </ion-item>
                </div>
                  <ion-row>
                    <ion-col class="px-0">
                      <button type="submit" ion-button class="btn-gift" color="light" block [disabled]="!user.valid">Submit</button>
                    </ion-col>
                  </ion-row>
                
                </form>
                <p text-center class="text-white">Want to go back?
                    <span (click)="goToLogin()"><b>Sign in</b></span>
                  </p>
              </ion-list>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
</ion-content>
