<!--
  Generated template for the CompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>company</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
       
        <img src="{{ company_logo!='' ?company_logo :'https://www.w3schools.com/w3images/avatar3.png'}}" alt="">
      </ion-col>
      <ion-col>
        <h4>{{ company_data.com_name }}  <ion-icon *ngIf="company_data.com_registration_status == 'VERIFIED'" name="checkmark-circle" color="giftin"></ion-icon></h4>
        <p><small>Registerd on {{ company_data.created_date}}</small></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <h5>Our Active Giveaways</h5>
    <div class="grid-full">
        <ion-row>
          <ion-col col-6 *ngFor="let item of giveaway_List">
              <ion-card (click)="viewInfo(item.giveaway_code)" class="animated fadeIn">
                <ion-card-header class="text-giftin">
                  {{ item.giveaway_title }}
                  <!-- <p><small>on {{ item.created_date }} </small></p> -->
                </ion-card-header>
                <div class="card-image cover-bg flex-div" [ngStyle]="{'background-image': 'url('+ item.giveaway_media_link +')'}">
                    <ion-spinner name="crescent" class="spinner-center"></ion-spinner>
                </div>
                  <!-- <img class="card-image" src="{{ item.giveaway_media_link }}"/> -->
                  <ion-card-content>
                      <p class="dflex-ai-center">
                        <span style="width:50%;">
                            <ion-icon name="heart-outline" class="text-giftin"></ion-icon>
                            <span class="ml-5 text-giftin"> {{item.like_count}} </span>
                        </span>
                        <span  style="width:50%;">
                          
                          <!-- <ion-icon name="heart-outline" class=""></ion-icon> -->
                          <span class="ml-5">  </span>
                        </span>
                           
                      </p>
                  </ion-card-content>
                </ion-card>
          </ion-col>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-row>
      </div>
  </div>
</ion-content>