page-company {

    .scroll-content{
        background: whitesmoke;
    }

    ion-grid{
        padding: 0px !important;
    }

    .fixed-row{
        position: fixed;
    }

    ion-card{
        margin: 0px !important;
        width: 100% !important;
        
    }

    .card-image{
        width: 100%;
        max-height: 100px;
    }

    .card-header{
        font-size: 1.3rem !important;
        font-weight: 500;
        // color: #e2464f !important;
        padding: 10px 10px 0px 10px !important;
    }

    .card-content{
        padding: 5px 10px !important;
        p{
            color: rgb(168, 168, 168) !important;
            font-size: 1.2rem;

        }
    }
}
