page-reset-pwd {
    .scroll-content{
        display: flex;
align-items: center;
justify-content: center;
    }
    

    .item:nth-child(1){
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .item:nth-child(2){
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .item:nth-child(2) .item-inner{
        border: none;
    }
}
