<!--
  Generated template for the ResetPwdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <ion-grid >
        <div>
          <div text-center class="text-white">
          <h4>Reset Your Password</h4>
          <p>Enter your new password</p>
        </div>
          <ion-row>
            <ion-col>
              <ion-list>
                <form [formGroup]="passwordData"  (ngSubmit)="resetPassword(passwordData.value)">
                  <div class="item-container">
                  <ion-item class="px-10">
                    <ion-input type="password" placeholder="New Password" clearInput [(ngModel)]="passwordData.new_pass" name="new_pass" formControlName="new_pass"></ion-input>
                  </ion-item>
                  <ion-item no-lines class="error-msg" text-wrap *ngIf="!passwordData.controls.new_pass.valid  && (passwordData.controls.new_pass.dirty || submitAttempt)">
                    <small>This field is required and should be valid Password</small>
                  </ion-item>

                  <ion-item class="px-10">
                      <ion-input type="password" placeholder="Confirm Password" clearInput [(ngModel)]="passwordData.conf_pass" name="conf_pass" formControlName="conf_pass"></ion-input>
                    </ion-item>
                    <ion-item no-lines class="error-msg" text-wrap *ngIf="!passwordData.controls.conf_pass.valid  && (passwordData.controls.conf_pass.dirty || submitAttempt)">
                      <small>This field is required and should be valid Password</small>
                      
                    </ion-item>
                    <ion-item no-lines class="error-msg" text-wrap *ngIf="passwordData.hasError('passwordMismatch')">
                      <small>Password mismatch</small>
                      
                    </ion-item>
                   
                </div>
                  <ion-row>
                    <ion-col class="px-0">
                      <button type="submit" ion-button class="btn-gift" color="light" block [disabled]="!passwordData.valid">Submit</button>
                    </ion-col>
                  </ion-row>
                
                </form>
                <p text-center class="text-white">Want to go back?
                    <span><b>Sign in</b></span>
                  </p>
              </ion-list>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
</ion-content>