<ion-header no-border>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
    <ion-buttons end (click)="gotoEditPage()">
      <button ion-button icon-only>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="user-info-container">
    <div class="avatar center-cropped" [ngStyle]="{'background-image': 'url('+ user_data.photo +')'}"></div>

    <!-- <img class="avatar" src="http://demos.creative-tim.com/material-kit/assets/img/kit/faces/christian.jpg"> -->
    <div class="mt-m-50">
      <h4>{{user_data.first_name}} {{user_data.last_name}}</h4>
      <p>{{ user_data.city }}, {{ user_data.country }}</p>
    </div>
  </div>
  <div class="profile-container">


    <ion-row class="mt-40">
      <ion-col class="px-0">
        <ion-card class="about-info">

          <ion-card-header>
            <h4>Dashbord</h4>
          </ion-card-header>

          <ion-card-content>
            <p>Hello {{user_data.first_name}}, followings are you activites. </p>
            <hr>
            <div class="user-stats">
              <ion-row>
                <ion-col id="l1" class="d-flex fd-r jc-sa ai-c" (click)="goEntry()">
                  <i class="fa fa-heart" ></i>
                  <div>
                    <h4>{{entry_count}}</h4>
                    <p>Entries</p>
                  </div>

                </ion-col>
                <ion-col id="l2"  class="d-flex fd-r jc-sa ai-c" (click)="goWinning()">
                  <i class="fa fa-trophy"></i>
                  <div>
                    <h4>{{win_count}}</h4>
                    <p>Wins</p>
                  </div>

                </ion-col>
                <!-- <ion-col id="l3" >
                  <h4>65</h4>
                  <p>Interests</p>
                </ion-col> -->
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="mt-20">
      <ion-col class="px-0">
        <ion-card class="general-container">
          <ion-card-header>
            <h4>Basic Info</h4>
          </ion-card-header>
          <ion-card-content>

            <hr>
            <div class="user-info">
              <ion-item>
                <p>
                  <b>Age</b>
                </p>
                <p>{{ user_data.age }}</p>
              </ion-item>
              <ion-item>
                <p>
                  <b>Email</b>
                </p>
                <p>{{ user_data.email }}</p>
              </ion-item>
              <ion-item>
                <p>
                  <b>Contact No</b>
                </p>
                <p>{{ user_data.mobile_no }}</p>
              </ion-item>
              <ion-item>
                <p>
                  <b>City</b>
                </p>
                <p>{{ user_data.city }}</p>
              </ion-item>
              <ion-item>
                <p>
                  <b>Country</b>
                </p>
                <p>{{ user_data.country }}</p>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

</ion-content>