page-otp {
    .scroll-content{
        display: flex;
align-items: center;
justify-content: center;
    }

    .item{
        border-radius: 3px;
        
    }
    .item:nth-child(1) .item-inner{
        border: none;
    }
}
