<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Home</ion-title>
    <ion-buttons end >
      <button ion-button icon-only color="royal" (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)="loadMore()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <span (click)="loadMore()" >LOAD MORE</span> -->
  </ion-navbar>

</ion-header>
<div *ngIf="clStatus || showSpinner" style="position: absolute;
z-index: 999999;
/* margin: auto; */
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color:white;">
    <ion-spinner name="crescent" color="lighter" ></ion-spinner>
</div>

<div *ngIf="showEmptySlide" style="position: absolute;
z-index: 2;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color:white;">
    <h3>Sorry!!</h3>  
    <p style="color:white !important;">No More New Giveaways</p>
    <button ion-button outline center text-center color="lighter" (click)="refreshCards()">
      <div>Refresh</div>
    </button>
</div>

<div class="drawIndex" *ngIf="show_card">
  <h5>
      Your Index Number For  {{text_part}}  is
  </h5>
  <h2>
    {{ index_no }}
  </h2>
</div>

<ion-content padding="">
    <!-- <div class="entry-no-back" [ngClass]="clStatus ? '' : 'show-no' ">
        <h2 class="entry-no">5</h2>
      </div> -->

      
    <ion-slides let slides pager="true" paginationType="bullets" effect="slide" centeredSlides="true" spaceBetween="25" (ionSlideDidChange)="slideChanged()"   >
        <!-- (ionSlideReachEnd) = "endReached()" -->
        
        <ion-slide width="10px" *ngFor="let item of cards" [ngClass]="clStatus ? 'element-animation' : '' ">
          <div  [ngStyle]="{'background-image': 'url('+ item.giveaway_media_link +')'}" class="slide-image cover-bg flex-div">
            <ion-spinner name="crescent" class="spinner-center"></ion-spinner>
          </div>
          <h2 class="slide-title">
            {{ item.giveaway_title }} 
            <!-- Pick the <b>Gift {{ item }}</b> -->
          </h2>
          <div class="des-container">
              
              <p>
                  {{ (item.description | slice:0:180) + '...'}}
                  </p>
          </div>
          
          <!-- <button ion-fab (click)="voteUp(i)">{{ i }}</button> -->
          <ion-row>
              <ion-col style="position:absolute;
              bottom: 0px;">
                <button ion-button outline center text-center class="btn-gift-outline" (click)="openFullView(item.giveaway_code,currentIndex)">
                  <div>View More</div>
                </button>
              </ion-col>
            </ion-row>
          
        </ion-slide>

        
    
      </ion-slides>

      
      <ion-fab bottom center *ngIf="showBtn">
        <button ion-fab (click)="grabIt(currentIndex)" class="gift-button" [ngClass]="btnStatus ? 'btn-animation' : '' "> <ion-icon name="basket"></ion-icon></button>
      </ion-fab>
</ion-content>
