<!--
  Generated template for the EntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>My Basket</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <p *ngIf="has_entries == false" text-center>
    No entries yet
  </p>
    <ion-refresher (ionRefresh)="doRefresh($event)" >
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      
<div class="grid-full">
  <ion-row>
    <ion-col col-6 *ngFor="let item of entry_list">
        <ion-card (click)="viewInfo(item.giveaway_code)" class="animated fadeIn">
            
          <ion-card-header class="text-giftin">
            {{ item.giveaway_title }}
            <p><small>by {{ item.com_name }}</small></p>
          </ion-card-header>
          <div class="card-image cover-bg flex-div" [ngStyle]="{'background-image': 'url('+ item.giveaway_media_link +')'}">
              <ion-spinner name="crescent" class="spinner-center"></ion-spinner>
          </div>
            <!-- <img class="card-image" src="{{ item.giveaway_media_link }}"/> -->
            <ion-card-content>
                <p class="dflex-ai-center">
                  <span style="width:50%;">
                      <ion-icon name="heart" class="text-giftin"></ion-icon>
                      <span class="ml-5 text-giftin"> {{item.like_count}} </span>
                  </span>
                  <span  style="width:50%;">
                    
                    <!-- <ion-icon name="heart-outline" class=""></ion-icon> -->
                    <span class="ml-5">  </span>
                  </span>
                     
                </p>
            </ion-card-content>
          </ion-card>
    </ion-col>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    
  </ion-row>
</div>
</ion-content>
