<!--
  Generated template for the FullViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>Giveaway Infomation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="full-view-content">
  <div class="image-container flex-div" style="min-height:200px;">
    <ion-spinner name="crescent" class="spinner-center"></ion-spinner>
    <img-loader src="{{ data_media.giveaway_media_link }}" (load)="onImageLoad($event)" display="block" width="100%" height="400px"
      spinner useImg></img-loader>
    <!-- <op-lazy-img [source]="'data_media.giveaway_media_link'"></op-lazy-img> -->
    <!-- <img  src="{{ data_media.giveaway_media_link }}"> -->
  </div>

  <div class="meta-container px-10">
    <div class="grab-button-container">
      <button ion-fab class="grab-button gift-button" (click)="trythis()">
        <ion-icon name="basket"></ion-icon>
      </button>
    </div>
    <h3 class="text-giftin">{{data_giveaway.giveaway_title}} </h3>
    <p>Posted by
      <b>
        <span class="text-giftin" (click)="goToCompanyPage(data_giveaway.com_code)">{{company.com_name}}</span>
      </b> on
      <span class="text-giftin">{{data_giveaway.start_point}}</span>
      Expires on <span class="text-giftin">{{data_giveaway.end_point}}</span>
    </p>
    <p class="dflex-ai-center text-giftin" *ngIf="like_count != 0">
      <ion-icon name="heart-outline" class="text-25 "></ion-icon>
      <span class="ml-5"> {{like_count}} </span>
    </p>
    <!-- <p class="text-giftin" *ngIf="entry_index != 0">
      <strong>Your entry No: </strong> <span> {{entry_index[0].entry_no}} </span>
    </p> -->
  </div>
  <div class="info-container px-10">
    <p>
      {{data_giveaway.description}}
    </p>
    <button ion-button block (click)="shareSheetShare()"> Share with friends. </button>
    <!-- <button ion-button block (click)="facebookShare()"> Share with facebook. </button> -->
    
    <hr>
    <div class="link-container" *ngIf="data_link">
      <button (click)="openUrl(data_giveaway.website)" clear color="light" ion-fab class="link-icons">
        <i class="fa fa-globe"></i>
      </button>
      <button (click)="openUrl(item.link)" *ngFor="let item of data_link" clear color="light" ion-fab class="link-icons">
        <i class="fa fa-{{item.link_media}}"></i>
      </button>
      <!-- <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-facebook-f"></i></button>
    <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-twitter"></i></button>
    <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-youtube"></i></button>
    <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-instagram"></i></button> -->
    </div>
  </div>

</ion-content>