page-full-view {
.full-view-content{

    // .flex-div{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    
    // .spinner-center{
    //     position: absolute;
    //     z-index: 100;
    // }


    .scroll-content{
        background: #f5f5f5;
    }

    .image-container img{
        width: 100%;
    }

   .info-container{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.32);
    padding-bottom: 10px
   }

   .link-container button{
    width: 40px;
    height: 40px;
    
   }
   .link-container{
       display: flex;
       justify-content: center;
    .link-icons{
        font-size: 2rem;
        margin: 5px 10px;
        color: rgb(255, 255, 255);
    background: #8a8a8a;
    // box-shadow: none;
    }
   }
   .link-container:first-child{
       margin-left: 0px;

   }

   .link-container:last-child{
    margin-right: 0px;
    
    }

    .grab-button{
        transform: translate3d(0,-50%,0);
    }

    .grab-button-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

   

}


}
