<!--
  Generated template for the EditUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="user-content">
    <div text-center class="text-white mt-40">
        <h4>One More Step</h4>
        <p>Please fill your information</p>
      </div>

  <div class="add-user-info-container">
    <div class="img-container">
        <div class="avatar center-cropped" *ngIf="!isServerImage"  [ngStyle]="{'background-image': 'url('+pathForImage(lastImage)+')'}" alt="" [hidden]="lastImage === null"></div>
        <div class="avatar center-cropped" *ngIf="isServerImage" style="background-image: url(http://demos.creative-tim.com/material-kit/assets/img/kit/faces/christian.jpg)" ></div>
      <!-- <img class="avatar" src="http://demos.creative-tim.com/material-kit/assets/img/kit/faces/christian.jpg"> -->
      <button ion-fab color="light" class="img-upload-btn-fab" (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <!-- <button class="" ion-button color="light" icon-only>
            <ion-icon name="camera"></ion-icon>
          </button> -->
    </div>
  </div>

  <div class="profile-container">
    <ion-row class="mt-40">
      <ion-col class="px-0">
        <ion-card class="about-info">
          <ion-card-content>
            <div class="edit-form-container">
              <div>
                <form [formGroup]="user" (ngSubmit)="addUserData(user.value)">
                  <ion-item class="item-divider-header">
                    <h5>Personal information</h5>
                    <button ion-button outline item-end class="btn-gift-outline" [disabled]="!user.valid">save</button>
                  </ion-item>
                  <hr class="mt-m-10">
                  <div class="form-container">
                    <ion-list>
                      <!-- <form [formGroup]="user"  (ngSubmit)="editProfile(user.value)"> -->
                      <ion-row>
                        <ion-col>
                          <ion-item class="px-10">
                            <ion-input type="text" [(ngModel)]="user.first_name" name="first_name" formControlName="first_name"  placeholder="First Name"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-item class="px-10">
                            <ion-input type="text" [(ngModel)]="user.last_name" name="last_name" formControlName="last_name"  placeholder="Last Name"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item class="px-10">
                            <ion-input type="text" [(ngModel)]="user.age" name="age" formControlName="age"  placeholder="Age"></ion-input>
                          </ion-item>

                          <ion-item class="px-10">
                            <ion-input type="text" [(ngModel)]="user.city" name="city" formControlName="city"  placeholder="City"></ion-input>
                          </ion-item>
                          <!-- <ion-item class="px-10">
                            <ion-input type="text" [(ngModel)]="user.country" name="country" formControlName="country"  placeholder="Country"></ion-input>
                          </ion-item> -->
                          <!-- <ion-item class="px-10">
                            <ion-select clearInput placeholder="Select your country" name="country" required formControlName="country" [(ngModel)]="user.country">
                              <ion-option *ngFor="let cou of country_list"  value="{{cou.name}}">{{cou.name}}</ion-option>
                            </ion-select>
                          </ion-item> -->
                        </ion-col>
                      </ion-row>
                      <!-- </form> -->
                    </ion-list>

                  </div>
                </form>
              </div>


            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </div>


</ion-content>