page-user {
    .user-content{

        .add-user-info-container{
            margin-top: 100px;
            text-align: center;
            color: white;
            margin-bottom: -50px;
            
        }

        ion-select{
            max-width: 100% !important;
            width: 100%;
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        
        .edit-form-container{
            background: white;
             width: 100%;
             text-align: center;
        }
        .avatar{
            margin: auto;
            width: 120px !important;
        border-radius: 100px;
        transform: translate3d(0,-50%,0);
        box-shadow:0 5px 15px 3px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2)
     }
    //  .avatar{
    //     margin: auto;
    // width: 100px;
    // border-radius: 100px;
    // transform: translate3d(0,-50%,0);
    // box-shadow:0 5px 15px 3px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2)
    // }
     
         .card{
             transform: translate3d(0,-10%,0);
         }
         .profile-container{
             margin-top: 40px;
             background: whitesmoke;
             width: 100%;
             text-align: center;
         }
     
         .header-container{
             color: white;
             margin-top: 10px;
             text-align: center;
             font-weight: 700;
             text-transform: uppercase;
         }
     
         .item{
             border: none !important;
     
         }
     
         .col{
             padding: 0px !important;
         }
     
         // .form-container{
         //     padding: 5px;
         //     box-shadow: 0px 1px 5px rgba(49,48,48,0.2);
         // }
     
         .item-divider-header{
             padding-left: 0px;
             background: transparent !important;
     
             h5{
                 text-align: left;
                padding: 10px;
                 font-weight: 400;
                 font-size: 14px;
                 color:#f9686f;
             }
         }

        //  .image-upload-btn{
        //     // position: absolute;
        //     left: 50%;
        //     margin-top: 40px;
        //     width: 30px;
        //     height: 30px;
        
        //  }

        .img-upload-btn-fab.fab-md{
            position: absolute;
    top: 220px;
    left: 50%;
    width: 40px;
    height: 40px;
         }


         .img-upload-btn-fab{
            position: absolute;
    top: 240px;
    left: 50%;
    width: 40px;
    height: 40px;
         }
    }
}
