page-tutorial {
   
    // .content,ion-slide,.scroll-content,ion-header{
    //     background: white !important;
    // }
    // ion-slide,.scroll-content{
    //     background: white !important;
    // }

    .swiper-pagination-bullet-active {
        background: #f9686f !important;
        opacity: 1;
    }

    .content{
        // color:#f9686f;
        color:white;
    }
    .h4-text{
        font-size: 2.4rem;
        font-weight: 700;
    }
    .swiper-slide img {
        width: 250px !important;
        height: 250px !important;
    }

    .slide-zoom{
        text-align: left !important;
    }
  }