<ion-header no-border>
  <ion-navbar>
    <ion-title>Tutorial</ion-title>
    <ion-buttons end>
      <button ion-button color="lighter" (click)="hasSeenTutorial()">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-slides pager="true">
    <ion-slide>
      <p>You're good to go.</p>
      <h2>Hi!</h2>
      <h2>Welcome to Giftin!</h2>
      <p>Here’s your best chance at winning giveaways.</p>

    </ion-slide>

    <ion-slide>
      <p>Find the
        <span class="h4-text">Biggest giveaways</span> in town from your
        <span class="h4-text">Favorite Brands</span> and stand a chance to
        <span class="h4-text">win big!</span>
      </p>
      <button ion-button block outline  color="lighter" (click)="goToNextSlide()">Start Tour</button>
      <button ion-button block outline  color="lighter" (click)="hasSeenTutorial()">Skip</button>
    </ion-slide>

    <ion-slide>
        <h2>Enter a giveaway</h2>
        <p>Swipe away to see the current giveaways. Tap on the Giftin icon to get lucky.</p>
    </ion-slide>

    <!-- <ion-slide>
        <h2>Enter Number</h2>
        <p>Hold on to your entry number and wait for your winning notification.</p>
    </ion-slide> -->

    <ion-slide>
      <h2>Giftin Basket</h2>
      <p>You can keep track of
        the giveaways you
        have entered in your
        Giftin basket.</p>
  </ion-slide>

  <ion-slide>
    <h2>The big Win!</h2>
    <p>Clock is ticking. Gifts
      are cooking. Be all
      ears for your winning
      notification.</p>
</ion-slide>

    <ion-slide>
        <h2>Better believe it!</h2>
        <p>We are literally obsessed with</p>
        <h2>Transparency!!</h2>
        <p>Neither we nor our partners have any involvement in determining the winners.</p>
    </ion-slide>

    <ion-slide>
      <p>
          All winners are selected based on legitimate national lottery numbers.
      </p>
      <p>
          You can check the formula on our website – www.giftinapp.com and try it for yourself!
      </p>
    </ion-slide>


    <!-- <ion-slide *ngFor="let slide of slides">

      <img src="http://www.giftinapp.com/image/giftin-animated_500x.gif" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide> -->
    <ion-slide>

      <!-- <img src="http://www.giftinapp.com/image/giftin-animated_500x.gif" class="slide-image" /> -->
      <h2 class="slide-title">Ready to Win big?</h2>
      <button ion-button block outline large  icon-end color="lighter" (click)="hasSeenTutorial()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>