page-search {
    .scroll-content{
        background: whitesmoke !important;
    }

    .search-items{
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 4px 0px rgba(31, 31, 31, 0.28);
        border-radius: 2px;
        padding-left: 5px !important;
        // height: 7rem;
    }
}
