<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <button *ngIf="mainview" ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-searchbar animated="true" showCancelButton="true" autocomplete="on" autocorrect="on" [(ngModel)]="searchString" (input)="searchGiveaway($event)" 
      placeholder="Search"></ion-searchbar>
     
    
    <!-- <ion-title>Search</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
   
    <ion-list>
        <button (click)="viewCompView(giveaway.giveaway_code)" class="search-items" ion-item *ngFor="let giveaway of giveaways">
          {{giveaway.giveaway_code}} - {{giveaway.giveaway_title}}
        </button>
    </ion-list>
</ion-content>
