<!--
  Generated template for the CompViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="comp-view-container">
  <div class="content-container">


    <div class="image-container flex-div mh-150">
        <ion-spinner name="crescent" class="spinner-center"></ion-spinner>
      <img src="{{ data_media.giveaway_media_link }}">
    </div>

    <div class="meta-container px-10">

      <h3 class="text-giftin">{{data_giveaway.giveaway_title}}</h3>
      <p>Posted by
        <b>
          <span class="text-giftin">{{company.com_name}}</span>
        </b> on
        <span class="text-giftin">{{data_giveaway.start_point}}</span>
        Expires on <span class="text-giftin">{{data_giveaway.start_point}}</span>
      </p>
      <p class="dflex-ai-center text-giftin">
        <ion-icon name="heart-outline" class="text-25 "></ion-icon>
        <span class="ml-5"> {{like_count}} </span>
      </p>
      <p class="text-giftin" *ngIf="entry_index">
          <strong>Your entry No: </strong> <span> {{entry_index}} </span>
        </p>
    </div>
    <div class="info-container px-10">
      <p>{{data_giveaway.description}}</p>
      <hr>
      <div class="link-container" *ngIf="data_link">
        <button (click)="openUrl(data_giveaway.website)" clear color="light" ion-fab  class="link-icons" >
          <i class="fa fa-globe"></i>
        </button>
        <button (click)="openUrl(item.link)" *ngFor="let item of data_link" clear color="light" ion-fab  class="link-icons" >
            <i class="fa fa-{{item.link_media}}"></i>
          </button>
        <!-- <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-facebook-f"></i></button>
        <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-twitter"></i></button>
        <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-youtube"></i></button>
        <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-instagram"></i></button> -->
    </div>
    </div>
  </div>
  <div class="draw-container px-0 mt-20" *ngIf="show_draw_detail">
    <h6 class="px-10 text-16 text-giftin"> Draw Details</h6>
    <ion-card>
      <ion-card-content>
        <div *ngFor="let lot of draw_data" class="">
          <p>{{lot.lottery_name }} on <small>{{ lot.lottery_date }}</small></p>
          <p class="lotteries text-giftin">
              <span class="lot-numbers">{{lot.result}}</span>
            <!-- <span *ngFor="let num of [31,22,3,45,6,43,76]" class="lot-numbers">{{num}}</span> -->
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="winner-container px-0 mt-20" *ngIf="show_winners">
    <h6 class="px-10 text-16 text-giftin"> Winners</h6>
    <ion-card>
      <ion-card-content>
        <ion-slides *ngIf="winners_list" spaceBetween="5"  autoplay="1000" slidesPerView="4" pager="true">
          <ion-slide  *ngFor="let winner of winners_list">
            <div class="winners" >
              <ion-avatar>
                <img src="{{winner.user_photo}}">
              </ion-avatar>
              <p class="text-elepsis">{{ winner.f_name }}</p>
            </div>

          </ion-slide>

        </ion-slides>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>