<!--
  Generated template for the WinningsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Winnings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  >
    <p *ngIf="has_winnings == false" text-center>
        No winnings yet
      </p>
    <ion-refresher (ionRefresh)="doRefresh($event)" >
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

  <ion-list no-lines class="px-10">
    <ion-item class="winning-items" *ngFor="let item of giveaway_list">
      <ion-thumbnail item-start class="flex-div">
          <ion-spinner name="crescent" class="spinner-center"></ion-spinner>
        <img src="{{ item.giveaway_media_link}}">
      </ion-thumbnail>
      <div class="text-giftin">
          <h4 class="text-16 text-elepsis" >{{ item.giveaway_title }}</h4>
          <p><small>by {{ item.com_name }}</small></p>
      </div>
      
      <button ion-button outline item-end class="btn-gift-outline" (click)="viewInfo(item.giveaway_code)">View</button>
    </ion-item>
  </ion-list>

</ion-content>