page-winnings {
    .scroll-content{
        background: whitesmoke !important;
    }

    .back-button{    display: none !important;}

    .winning-items{
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 4px 0px rgba(31, 31, 31, 0.28);
        border-radius: 2px;
        padding-left: 0px !important;
        height: 7rem;

        button{
            margin-right: 0px !important;
        }
    }

    ion-thumbnail{
        margin-left:0px !important;
        margin-right: 5px !important;
    }

}
