<!--
  Generated template for the EditUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <!-- <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> -->
  <ion-navbar>
    <ion-title>Edit My Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="edit-user-content">
  <div class="user-info-container">
    <div class="img-container">
      <div class="avatar center-cropped" *ngIf="!isServerImage" [ngStyle]="{'background-image': 'url('+pathForImage(lastImage)+')'}"
        alt="" [hidden]="lastImage === null"></div>
      <div class="avatar center-cropped" *ngIf="isServerImage" [ngStyle]="{'background-image': 'url('+lastImage+')'}" [hidden]="lastImage === null">

      </div>
      <!-- <img class="avatar" src="http://demos.creative-tim.com/material-kit/assets/img/kit/faces/christian.jpg" [hidden]="lastImage != null"> -->
      <button ion-fab color="light" class="img-upload-btn-fab" (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <!-- <button class="" ion-button color="light" icon-only>
              <ion-icon name="camera"></ion-icon>
            </button> -->
    </div>

  </div>

  <div class="profile-container">

    <ion-row class="mt-40">
      <ion-col class="px-0">
        <ion-card class="about-info">
          <ion-card-content>
            <div class="edit-form-container">
              <div>
                <form [formGroup]="user" (ngSubmit)="editProfile(user.value)">
                  <ion-item class="item-divider-header">
                    <h5>Personal information</h5>
                    <button ion-button outline item-end class="btn-gift-outline" [disabled]="!user.valid">save</button>
                  </ion-item>
                  <hr class="mt-m-10">
                  <div class="form-container">
                    <ion-list>
                      <!-- <form [formGroup]="user"  (ngSubmit)="editProfile(user.value)"> -->
                      <ion-row>
                        <ion-col>
                          <ion-item class="px-10">
                            <ion-label stacked>First Name</ion-label>
                            <ion-input type="text" [(ngModel)]="user.first_name" name="first_name" formControlName="first_name" value="{{user_data.first_name}}"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-item class="px-10">
                            <ion-label stacked>Last Name</ion-label>
                            <ion-input type="text" [(ngModel)]="user.last_name" name="last_name" formControlName="last_name" value="{{user_data.last_name}}"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item class="px-10">
                            <ion-label stacked>Age</ion-label>
                            <ion-input type="text" [(ngModel)]="user.age" name="age" formControlName="age" value="{{user_data.age}}"></ion-input>
                          </ion-item>
                          <ion-item class="px-10">
                            <ion-label stacked>Email</ion-label>
                            <ion-input type="text" [(ngModel)]="user.email" name="email" formControlName="email" value="{{user_data.email}}"></ion-input>
                          </ion-item>
                          <ion-item class="px-10">
                            <ion-label stacked>Contact No</ion-label>
                            <ion-input type="number" [(ngModel)]="user.mobile_no" name="mobile_no" formControlName="mobile_no" value="{{user_data.mobile_no}}"></ion-input>
                          </ion-item>
                          <ion-item class="px-10">
                            <ion-label stacked>City</ion-label>
                            <ion-input type="text" [(ngModel)]="user.city" name="city" formControlName="city" value="{{user_data.city}}"></ion-input>
                          </ion-item>
                          <ion-item class="px-10">
                            <ion-label stacked>Country</ion-label>
                            <ion-input type="text" [(ngModel)]="user.country" name="country" formControlName="country" value="{{user_data.country}}"></ion-input>
                          </ion-item>
                        </ion-col>

                      </ion-row>

                      <!-- </form> -->

                    </ion-list>

                  </div>
                </form>
              </div>


            </div>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <form [formGroup]="pwdForm" (ngSubmit)="checkOldPassword(pwdForm.value)">
            <ion-card-content>
              <ion-item class="item-divider-header">
                <h5>Reset Password</h5>
                <button ion-button outline item-end class="btn-gift-outline" [disabled]="!pwdForm.valid" >Submit</button>
              </ion-item>
              <hr class="mt-m-10">
              <ion-row>
                <ion-item class="px-10">
                  <!-- <ion-label stacked>Old password</ion-label> -->
                  <ion-input placeholder="Old Password" type="password" [(ngModel)]="pwdForm.oldPassword" name="oldPassword" formControlName="oldPassword"></ion-input>
                </ion-item>
                <ion-item no-lines class="error-msg" text-wrap *ngIf="!pwdForm.controls.oldPassword.valid  && (pwdForm.controls.oldPassword.dirty || submitPwdAttempt)">
                    <small>This field is required and should be valid Password</small>
                  </ion-item>
                <ion-item class="px-10">
                  <!-- <ion-label stacked>New Password</ion-label> -->
                  <ion-input placeholder="New Password" type="password" [(ngModel)]="pwdForm.newPassword" name="newPassword" formControlName="newPassword"></ion-input>
                </ion-item>
                <ion-item no-lines class="error-msg" text-wrap *ngIf="!pwdForm.controls.newPassword.valid  && (pwdForm.controls.newPassword.dirty || submitPwdAttempt)">
                    <small>This field is required and should be valid Password</small>
                  </ion-item>
                <ion-item class="px-10">
                  <!-- <ion-label stacked>Retype new Password</ion-label> -->
                  <ion-input placeholder="Retype Password" type="password" [(ngModel)]="pwdForm.confPassword" name="confPassword" formControlName="confPassword"></ion-input>
                </ion-item>
                <ion-item no-lines class="error-msg" text-wrap *ngIf="!pwdForm.controls.confPassword.valid  && (pwdForm.controls.confPassword.dirty || submitPwdAttempt)">
                    <small>This field is required and should be valid Password</small>
                    
                  </ion-item>
                <ion-item no-lines class="error-msg" text-wrap *ngIf="pwdForm.hasError('passwordMismatch')">
                    <small>Password mismatch</small>
                    
                  </ion-item>
              </ion-row>
            </ion-card-content>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>


  </div>


</ion-content>