<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <ion-grid>
    <div>
      <div text-center class="text-white">
        <h4>Sign Up</h4>
        <p>Please Sign Up to continue</p>
      </div>
      <ion-row>
        <ion-col>
          <ion-list>
            <form [formGroup]="user" (ngSubmit)="signup(user.value)">
              <div class="item-container">

                <!-- <div class="has-error" *ngIf="!user.controls.email.valid  && (user.controls.email.dirty || submitAttempt)"  >This field is required and should be valid email</div> -->
                <ion-item class="px-10">

                  <ion-input type="email" placeholder="Email" clearInput [(ngModel)]="user.email" name="email" formControlName="email"></ion-input>
                </ion-item>

                <ion-item no-lines class="error-msg" text-wrap *ngIf="!user.controls.email.valid  && (user.controls.email.dirty || submitAttempt)">
                  <small>This field is required and should be valid email</small>
                </ion-item>


                <ion-item class="px-10">
                  <ion-select clearInput placeholder="Select your country" required formControlName="country" [(ngModel)]="user.country">
                    <ion-option *ngFor="let cou of country_list" (ionSelect)="getCountryPhone(cou)" value="{{cou.name}}">{{cou.name}}</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item no-lines class="error-msg" text-wrap *ngIf="!user.controls.country.valid  && (user.controls.country.dirty || submitAttempt)">
                  <small>Country is required </small>
                </ion-item>
                <ion-row style="background:white !important;">
                  <ion-col col-4 no-padding>
                    <ion-item no-lines class="px-10 pb-0">
                      <ion-input type="text" placeholder="+" readonly formControlName="phone_code"  value="{{country_phone_code}}"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col  no-padding>
                    <ion-item no-lines class="px-10 pb-0">
                      <ion-input required type="number" placeholder="Contact Number" [(ngModel)]="user.mobile_no" name="mobile_no" formControlName="mobile_no"
                        style="padding-right: 0px !important;"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <!-- <ion-item class="px-10">
                  <ion-input required type="number" placeholder="Contact Number (94712345678)" clearInput [(ngModel)]="user.mobile_no" name="mobile_no"
                    formControlName="mobile_no"></ion-input>
                </ion-item> -->
                <ion-item no-lines class="error-msg" text-wrap *ngIf="!user.controls.mobile_no.valid  && (user.controls.mobile_no.dirty || submitAttempt)">
                  <small>This field is required and should be valid mobile number Ex : 712345678</small>
                </ion-item>
                <ion-item class="px-10">
                  <ion-input type="password" *ngIf="!show_pass" placeholder="Password" clearInput [(ngModel)]="user.password" name="password"
                    formControlName="password"></ion-input>
                  <ion-input type="text" *ngIf="show_pass" placeholder="Password" clearInput [(ngModel)]="user.password" name="password" formControlName="password"></ion-input>
                  <button ion-button clear color="dark" type="button" item-right (click)="showPassword()">
                    <ion-icon [name]="show_pass ? 'eye-off' : 'eye'"> </ion-icon>
                  </button>
                </ion-item>
                <ion-item no-lines class="error-msg" text-wrap *ngIf="!user.controls.password.valid  && (user.controls.password.dirty || submitAttempt)">
                  <small>This field is required and should be valid password</small>
                </ion-item>

              </div>
              <ion-row>
                <ion-col class="px-0">
                  <button type="submit" [disabled]="!user.valid" ion-button class="btn-gift" color="light" block>Sign Up</button>
                  <!-- [disabled]="!user.valid" -->
                </ion-col>
              </ion-row>
            </form>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center class="px-0">
          <button ion-button class="social-icon social-facebook" (click)="signupFacebook()">
            <!-- <ion-icon name="logo-facebook"></ion-icon> -->
            <img src="assets/imgs/fb_login.png" alt="">
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center class="text-white">

          <p>Already have account?
            <span (click)="signIn()">
              <b>Sign in</b>
            </span>
          </p>


        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>