page-signup {
    .scroll-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ion-select{
        max-width: 100% !important;
        width: 100%;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    // .select-item{

    // }

    ion-select{
        // padding-left: 5px;
    }

    .item:first-child{
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .item:last-child{
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .item:last-child .item-inner{
        border: none;
    }

    

    .social-icon{
        padding: 0px;
        // height: .9em;
        // font-size: 3em;
        box-shadow: 0px 2px 4px #bb252d;
    }
    .social-facebook{
        color:#fff !important;
        background-color: #3b5998;
    }
}
