page-menu {
    .menu-content{
    .avatar{
        margin: auto;
    width: 100px;
    border-radius: 100px;
    transform: translate3d(0,-50%,0);
    box-shadow:0 5px 15px 3px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2)
    }
    .center-cropped-menu {
        width: 100px;
        height: 100px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    .user-info-container{
        margin-top: 70px;
        text-align: center;
        color: white;
    }


    .menu-item{
        background: transparent !important;
    border: none !important;
    color: white;
    text-transform: uppercase;
    font-size: 2.1rem;


    .icon {
        padding-right: 15px;
        font-size: 2.1rem;
        min-height: 2.1rem;
        padding-left: 25px;
    }

    
    
    }
    .item.activehighlight{
        
    border-left: 3px solid white !important;
    background-color: rgba(226,80,122,0.65) !important;
        
    }

    .menu-item.item-block{
        margin-top: 4px !important;
        height: 3.9rem !important;
        min-height: 3.9rem !important;
    }

   
    .item h2{
        font-size: 14px;
        font-weight: 600;
    }

    // ion-list {
    //     ion-item {
    //         &.active a {
    //             background-color: red !important;
    //             color: #fff;
    //         }
    //     }
    // }
}




}