<ion-menu type="push" persistent="true" swipeEnabled="true" [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="menu-content">

    <div class="user-info-container">
        <div class="avatar center-cropped-menu" [ngStyle]="{'background-image': 'url('+ user_data.photo +')'}" ></div>

      <!-- <img class="avatar" src="http://demos.creative-tim.com/material-kit/assets/img/kit/faces/christian.jpg"> -->
     <div class="mt-m-50">
        <h4> {{ user_data.first_name }} {{ user_data.last_name }} </h4>
              <p> {{ user_data.city }}, {{ user_data.country }} </p>
         
     </div>
    </div>
    

    <ion-list class="menu-list mt-10" no-lines>
      <!-- <ion-item-divider color="danger">Main App</ion-item-divider> -->
      <ion-item class="menu-item" text-wrap *ngFor="let p of pages" menuClose  (click)="openPage(p)" [class.activehighlight]="checkActive(p)" >
        <ion-icon [name]="p.icon" item-left large></ion-icon>
        <h2> {{p.title}} </h2>
      </ion-item>

     

      <!-- <ion-item color="light"  class="menu-item" text-wrap  menuClose (click)="openPage('about')">
        <ion-icon name="planet" item-left large></ion-icon>
        <h2> About </h2>
      </ion-item> -->

      <!-- <ion-item-divider color="danger">Profile</ion-item-divider> -->
      <!-- <ion-item color="light"  class="menu-item" text-wrap  menuClose (click)="openPage('login')">
        <ion-icon name="contact" item-left large></ion-icon>
        <h2> Login </h2>
      </ion-item>
      <ion-item color="light"  class="menu-item" text-wrap  menuClose (click)="openPage('signup')">
        <ion-icon name="contact" item-left large></ion-icon>
        <h2> Sign Up </h2>
      </ion-item>

      <ion-item color="light"  class="menu-item" text-wrap  menuClose (click)="openPage('profile')">
        <ion-icon name="contact" item-left large></ion-icon>
        <h2> My Profile </h2>
      </ion-item>

      <ion-item color="light"  class="menu-item" text-wrap  menuClose (click) = "openPage('entries')">
        <ion-icon name="checkmark-circle" item-left large></ion-icon>
        <h2> Entries </h2>
      </ion-item>

      <ion-item color="light"  class="menu-item" text-wrap  menuClose (click)="openPage('winnings')">
        <ion-icon name="trophy" item-left large></ion-icon>
        <h2> Winnings </h2>
      </ion-item> -->

      <ion-item color="light"  class="menu-item" text-wrap  menuClose (click)="logout()">
        <ion-icon name="log-out" item-left large></ion-icon>
        <h2> Logout </h2>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content [root]= "homePage"></ion-nav>